<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40630459964-i0fidsik5f3nqtmuliatdv0gqjnv07hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40630459964-i0fidsik5f3nqtmuliatdv0gqjnv07hd</string>
	<key>API_KEY</key>
	<string>AIzaSyAO8x_Sr9STxcAJ18JdosTsdVHKTTIWqBg</string>
	<key>GCM_SENDER_ID</key>
	<string>40630459964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allitsolltd.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f4a8c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f4a8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40630459964:ios:d35537486170c6e18e2d39</string>
</dict>
</plist>